<template>

    {% block template %}
        <div class="detailpage-toolbar">
            {% block toolbar %}
                {% block backbutton %}
                    <a class="btn btn-small btn-secondary" route-href="route.bind: getRoutePrefix()+'.index'; params.bind: getRouteParams()">
                        <i class="fa fa-fw fa-chevron-left"></i> <span t="crud:button.back"></span>
                    </a>
                {% endblock %}
                {% block deletebutton %}
                    <button type="button" class="btn btn-small btn-danger" click.trigger="deleteEntity()" if.bind="item.id">
                        <i class="fa fa-fw fa-trash"></i> <span t="crud:button.delete"></span>
                    </button>
                {% endblock %}
                {% block additionalButtons %}
                {% endblock %}
            {% endblock %}
        </div>
        <div class="detailpage-title">
            {% block detailpage_title %}
            {% endblock %}
        </div>
        <div class="detailpage-body">
            {% block detailpage_body %}
            {% endblock %}
        </div>
    {% endblock %}

</template>
