{% extends '@ApeisiaBase/Crud/_detailpage.html.twig' %}

{% block additionalButtons %}
    <button type="submit" class="btn btn-small btn-primary" form="entityform">
        <i class="fa fa-fw fa-save"></i>
        <span t="crud:button.save"></span>
    </button>
{% endblock %}

{% block detailpage_title %}
    <span if.bind="item.id"><i class="fa fa-fw fa-pencil"></i> ${readableName} bearbeiten</span>
    <span if.bind="!item.id"><i class="fa fa-fw fa-plus"></i> ${readableName} anlegen</span>
{% endblock %}

{% block formErrors %}
    <div class="alert alert-danger" role="alert" if.bind="formError && formError.errors.length > 0">
        <div repeat.for="error of formError.errors">
            ${error}
        </div>
    </div>
{% endblock %}

{% block detailpage_body %}
    {{ block('formErrors') }}
    <form submit.trigger="save()" id="entityform">
        {% block form %}
            {{ form_widget(form) }}
        {% endblock %}
    </form>
{% endblock %}

{% block backbutton %}
    <a class="btn btn-small btn-secondary" route-href="route.bind: getRoutePrefix()+'.'+(isNew()?'index':'show'); params.bind: getRouteParams(isNew()?null:item)">
        <i class="fa fa-fw fa-chevron-left"></i> <span t="crud:button.back"></span>
    </a>
{% endblock %}
