<template>
    {% block imports %}
        <require from="symfaurelia/value-converters/datetime"></require>
        <require from="symfaurelia/value-converters/bool"></require>
        <require from="symfaurelia/value-converters/currency"></require>
    {% endblock %}
    {% block template %}
        {% block toolbar %}
            {% block newbutton %}
                <button click.trigger="editEntity()" class="btn btn-success"><i class="fa fa-fw fa-plus"></i> <span t="crud:button.new"></span></button>
            {% endblock %}
            {% block toolbarButtons %}
            {% endblock %}
        {% endblock %}
        {% block searchbar %}
            <form submit.trigger="search()">
                <div class="d-flex">
                    {% block searbarInput %}
                    <input
                        type="text"
                        class="form-control form-inline search-field flex-grow-1"
                        value.bind="searchValue"
                        t="[placeholder]crud:list.search"
                    />
                    {% endblock %}
                    {% block searchbarFilters %}
                    <select
                        class="{% block searchbarFiltersClass %}form-control form-inline w-auto{% endblock %}"
                        repeat.for="field of filterFields"
                        value.bind="filter[field.field]"
                        change.trigger="refreshList()"
                    >
                        <option model.bind="null">[ ${field.name} ]</option>
                        <option repeat.for="item of field.items" model.bind="item.value">${item.name}</option>
                    </select>
                    {% endblock %}
                    {% block searchbarInnerExtra %}{% endblock %}
                </div>
                {% block searchbarExtra %}{% endblock %}
            </form>
        {% endblock %}
        {% block list %}
            {% set _buttons = block('listButtons') ~ block('additionalListButtons') | trim %}
            <table class="{% block tableclass %}table table-striped{% endblock %}"{% block tableattr %}{% endblock %}>
                <tr>
                    <th repeat.for="field of fields"
                        class="${field.sortable ? 'sortable': ''} ${orderField==field.name ? 'sort-' + orderDirection : ''} table-col-${$index} ${field.thClass ? field.thClass() : ''}"
                        click.trigger="orderBy(field.name)">
                        <span t.bind="field.title"></span>
                    </th>
                    {% if _buttons is not empty %}
                        <th class="text-right list-actions" t="crud:list.actions"></th>
                    {% endif %}
                </tr>
                <tr repeat.for="item of list" {% block rowattr %}{% endblock %}>
                    {% block rowdata %}
                        <td repeat.for="field of fields" css="${itemClickable(item, field) ? 'cursor: pointer;':''}"
                            {% block rowClickHandler %}click.trigger="itemClicked(item, field)"{% endblock %}
                            class="table-col-${$index} ${field.tdClass ? field.tdClass(item) : ''}"
                        >
                            <span if.bind="field.type=='string'">${readField(item, field)}</span>
                            <span if.bind="field.type=='integer'">${readField(item, field)}</span>
                            <span if.bind="field.type=='float'">${readField(item, field)}</span>
                            <span if.bind="field.type=='currency'">${readField(item, field) | currency}</span>
                            <span if.bind="field.type=='datetime'">${readField(item, field) | datetime}</span>
                            <span if.bind="field.type=='datetimeshort'">${readField(item, field) | shortdatetime}</span>
                            <span if.bind="field.type=='date'">${readField(item, field) | date}</span>
                            <span if.bind="field.type=='bool' || field.type=='boolean'">${readField(item, field) | bool}</span>
                            <span if.bind="field.type=='html'" innerhtml.bind="readField(item, field)"></span>
                            {% block additionalTypes %}{% endblock %}
                        </td>
                    {% endblock %}
                    {% if _buttons is not empty %}
                        <td class="text-right list-actions">
                            {% block listButtons %}
                                {% block listButtonShow %}
                                    <a route-href="route.bind: getRoutePrefix()+'.show'; params.bind: getRouteParams(item)"
                                       if.bind="router.hasRoute(getRoutePrefix()+'.show')" t="[title]crud:list.show">
                                        <i class="fa fa-fw fa-eye"></i>
                                    </a>
                                {% endblock %}
                                {% block listButtonEdit %}
                                    <button click.trigger="editEntity(item)"
                                       t="[title]crud:list.edit">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </button>
                                {% endblock %}
                                {% block listButtonDelete %}
                                    <a href="#" click.trigger="deleteEntity(item)" t="[title]crud:list.delete">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                {% endblock %}
                            {% endblock %}
                            {% block additionalListButtons %}
                            {% endblock %}
                        </td>
                    {% endif %}
                </tr>
            </table>
        {% endblock %}
        {% block pagination %}
            <div class="justify-content-between pager">
                <div class="text-muted pager-entries-per-page">
                    <select value.bind="itemsPerPage" class="custom-select w-auto">
                        <option model.bind="5">5</option>
                        <option model.bind="10">10</option>
                        <option model.bind="20">20</option>
                        <option model.bind="50">50</option>
                        <option model.bind="100">100</option>
                        <option model.bind="200">200</option>
                    </select>
                    <span t="crud:list.entries_per_page"></span>
                </div>
                {% block paginationPageButtons %}
                    <div class="">
                        <ul class="pagination justify-content-center">
                            <li class="page-item ${page == 1 ? 'disabled' : ''}">
                                <a class="page-link" click.trigger="goPage(1)" href="#" t="[title]crud:list.first_page">
                                    <i class="fa fa-fw fa-fast-backward"></i>
                                </a>
                            </li>
                            <li class="page-item ${page == 1 ? 'disabled' : ''}">
                                <a class="page-link" click.trigger="goPage(page - 1)" href="#" t="[title]crud:list.prev_page">
                                    <i class="fa fa-fw fa-backward"></i>
                                </a>
                            </li>
                            <li repeat.for="i of pagination" class="page-item ${i == page ? 'active' : ''}">
                                <a class="page-link" click.trigger="goPage(i)" href="#">
                                    ${i}
                                </a>
                            </li>
                            <li class="page-item ${page == pageCount ? 'disabled' : ''}">
                                <a class="page-link" click.trigger="goPage(page + 1)" href="#" t="[title]crud:list.next_page">
                                    <i class="fa fa-fw fa-forward"></i>
                                </a>
                            </li>
                            <li class="page-item ${page == pageCount ? 'disabled' : ''}">
                                <a class="page-link" click.trigger="goPage(pageCount)" href="#" t="[title]crud:list.last_page">
                                    <i class="fa fa-fw fa-fast-forward"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
                <div class="text-md-right text-muted">
                    <span t="[html]crud:list.page_info" t-params.bind="{totalItems: totalItems, page: page, pageCount: pageCount}"></span>

                </div>
            </div>
        {% endblock %}
    {% endblock %}

</template>
