{% extends '@ApeisiaBase/Crud/_detailpage.html.twig' %}

{% block additionalButtons %}
    <button class="btn btn-info" click.trigger="editEntity(item)">
        <i class="fa fa-fw fa-pencil fa-edit"></i> <span t="crud:button.edit"></span>
    </button>

    <button type="button" class="btn btn-success" if.bind="allowCloning()" click.trigger="clone()">
        <i class="fa fa-fw fa-clone"></i> <span t="crud:button.clone"></span>
    </button>
{% endblock %}

{% block detailpage_title %}
    <i class="fa-fw ${router.currentInstruction.config.settings.icon}"></i> ${readableName} ${_getReadableEntity(item)}
{% endblock %}
