{% extends 'form_div_layout.html.twig' %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li><i class="icon-arrow-right"></i>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="{{ 'This field is required'|trans }}">*</span>
    {% endif %}
    {% if help_text is defined %}
        <span class="description">{{ help_text|trans }}</span>
    {% endif %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <tr>
            <td>
                {{ form_label(form) }}
            </td>
            <td {% if errors|length > 0 %}class="error_input" {% endif %}>
                {{ form_widget(form) }}
            </td>
            <td>
                {{ form_errors(form) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
    {% spaceless %}
        <tr style="display: none">
            <td colspan="2">
                {{ form_widget(form) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock hidden_row %}

{% block form_widget_compound %}
    {% spaceless %}
        <table class="formtable" {{ block('widget_container_attributes') }}>
            {% if form.parent is empty and errors|length > 0 %}
                <tr>
                    <td colspan="3" >
                        {{ form_errors(form) }}
                    </td>
                </tr>
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
            {{ block('form_required') }}
        </table>
    {% endspaceless %}
{% endblock form_widget_compound %}

{%- block form_required %}
    <tr>
        <td colspan="2"><span class="description"><span class="required">*</span>{{ 'required field'|trans }}</span></td>
        <td></td>
    </tr>
{%- endblock form_required %}